<label class="floating-label text-left m-2">
    <span class="text-lg">{{ label() }}</span>
    <select
        class="select w-full"
        [class.select-error]="control.invalid && control.touched"
        [class.select-success]="control.valid && control.touched"
        [formControl]="control"
        (change)="onSelect($event)">
        <option value="" disabled>{{ placeholder() }}</option>
        @for (opt of options(); track opt.value) {
            <option [value]="opt.value">{{ opt.label }}</option>
        }
    </select>
    @if (control.hasError('required') && control.touched) {
        <div class="validation-hint text-error text-xs">{{ label() }} is a required field!</div>
    }
    @if (control.hasError('ownershipNotSelected') && control.touched){
        <div class="validation-hint text-error text-xs">For Ownership Document the Owner must be selected.</div>
    }
    @if (control.hasError('propertyNotSelected') && control.touched){
        <div class="validation-hint text-error text-xs">For Property Document the Property must be selected.</div>
    }
</label>