<div class="card bg-base-100  mx-auto flex flex-col p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl text-primary">New User</div>
    @if (session.activeClient()){
    <div class="card-body w-full">
        <!-- <form #registerForm="ngForm" removed and replaced by [FormGroup] 
             for Reactive Forms  (ngSubmit)="register()" -->
        @if (currentStep() === 1){
            <form [formGroup]="registerForm" class="flex flex-col gap-4 w-full">

                <app-text-input class="m-2" label="Email" formControlName="email" />
                <app-text-input class="m-2" label="First Name" formControlName="firstName" />
                <app-text-input class="m-2" label="Last Name" formControlName="lastName" />
                <app-text-input class="m-2" label="Display Name" formControlName="displayName" />
                <app-text-input class="m-2" type="password" label="Password" formControlName="password" />
                <app-text-input class="m-2" type="password" label="Confirm Password" formControlName="confirmPassword" />
                <app-select-input class="m-2" label="Client" formControlName="clientId" placeholder="Select Client"
                    [options]="getClientOptions()" />

                <div  class="flex items-center justify-end gap-3">
                    <button class="btn" type="button" (click)="cancel()">Cancel</button>
                    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit"
                        (click)="nextStep()">Next</button>
                </div>
            </form>
        }
        @if (currentStep() === 2){
            <form [formGroup]="profileForm" class="flex flex-col gap-4 w-full" (ngSubmit)="register()">
                <div class="flex items-center gap-4">
                    <div class="font-semibold">Gender</div>
                    <label class="flex gap-3 items-center">
                        <span>Male</span>
                        <input type="radio" formControlName="gender" value="male" class="radio radio-primary" />
                    </label>
                    <label class="flex gap-3 items-center">
                        <span>Female</span>
                        <input type="radio" formControlName="gender" value="female" class="radio radio-primary" />
                    </label>
                </div>
                <app-text-input [maxDate]="getMaxDate()" class="m-2" label="Date of Birth" formControlName="dateOfBirth"
                    type="date" />

                <app-select-input class="m-2" label="Assign Role" formControlName="role" placeholder="Select Role"
                    [options]="roleOptions()" />

                <div  class="flex items-center justify-end gap-3">
                    <!-- <button class="btn" type="button" (click)="cancel()">Cancel</button> -->
                    <button class="btn" type="button" (click)="prevStep()">Back</button>
                    <button [disabled]="!registerForm.valid" class="btn btn-primary" type="submit">Register</button>
                </div>
            </form>
        }

    </div>
    }@else {
        <div> No clients avaibale </div>
    }
    <div class="flex flex-col items-start px-2 w-full mockup-code text-lg">
        <div>Form value: {{registerForm.value | json}}</div>
        <div>Form status: {{registerForm.status | json}}</div>
        <div>Profile Form value: {{profileForm.value | json}}</div>
        <div>Profile Form status: {{profileForm.status | json}}</div>
    </div>
</div>