<div class="hero bg-base-200 min-h-screen">
    @if (!registerMode() || !session.activeClient()) {
    <div class="hero-content text-center">
        <div class="flex flex-col items-center">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                class="size-42 text-primary">
                <path fill-rule="evenodd"
                    d="M3 3a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2H3Zm2.5 5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM10 5.75a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5a.75.75 0 0 1-.75-.75Zm.75 3.75a.75.75 0 0 0 0 1.5h1.5a.75.75 0 0 0 0-1.5h-1.5ZM10 8a.75.75 0 0 1 .75-.75h1.5a.75.75 0 0 1 0 1.5h-1.5A.75.75 0 0 1 10 8Zm-2.378 3c.346 0 .583-.343.395-.633A2.998 2.998 0 0 0 5.5 9a2.998 2.998 0 0 0-2.517 1.367c-.188.29.05.633.395.633h4.244Z"
                    clip-rule="evenodd" />
            </svg>
            @if(session.currentUser(); as user ){
            <h1 class="text-5xl font-bold"> Welcome {{user.displayName}}</h1>
            <div class="flex items-center gap-3 py-10">

                @if (session.activeClient(); as client) {
                <button routerLink="/dashboard" class="btn btn-primary btn-lg">Dashboard</button>
                <button (click)="showRegister(true)" class="btn btn-info btn-lg">Register New User</button>
                }@else {
                <div>Client info is not avaibale to proceed to site</div>
                }
            </div>

            } @else {
            <h1 class="text-5xl font-bold"> Welcome</h1>
            <div class="flex items-center gap-10 py-10">
                <app-login class="w-full" />
            </div>
            <button class="btn btn-info btn-lg" (click)="showRegister(true)">Request to register as New User</button>
            }
        </div>
    </div>
    } @else if(session.activeClient()) {
    <div class="text-2xl text-center flex flex-col justify-center gap-3">
        <app-register class="w-full" [clientFromHome]="clientFromApp" (cancelRegister)="showRegister($event)"/> 
    </div>
    }

</div>