<div class="card bg-base-100 w-1/2 mx-auto flex flex-col p-6 rounded-lg shadow-lg">
    <div class="card-title justify-center text-3xl text-primary">New document</div>
    <div class="card-body w-full">
        <form [formGroup]="documentForm" class="flex flex-col gap-4 w-full steps mt-3"> 
            <app-text-input class="m-2" label="Title" formControlName="title" />  
            <!-- <label class="floating-label text-left m-2">
                <span class="text-lg">Scope</span>
                <select class="form-select w-3/4  m-2" formControlName="scope" >
                    @for (s of scopes; track s) {
                        @if (session.currentUser()?.appRole === 'admin' ||
                            session.currentUser()?.appRole === 'board_member' ||
                            session.currentUser()?.appRole === 'property_manager'){
                            <option [value]="s">{{ scopeLabels[s] }}</option> 
                        } 
                        @else if (session.currentUser()?.appRole === 'owner' ||
                            session.currentUser()?.appRole === 'resident') {
                            @if (s === 'PropertyHistory' || s === 'OwnerTenure' ) {
                                <option [value]="s">{{ scopeLabels[s] }}</option> 
                            }
                        }
                    }
                </select>
            </label>  -->
            <app-select-input label="Scope" 
                formControlName="scope"
                placeholder="Select scope" 
                [options]="scopeOptions()" />
            <app-select-input label="Category" 
            formControlName="category"  
                placeholder="Select category"
                [options]="categoryOptions()" />
            <!-- <label class="floating-label text-left m-2">
                <span class="text-lg">Category</span>
                <select class="form-select w-3/4 m-2" formControlName="category"> 
                    @if(documentForm.controls['scope'].value === 'Public' || 
                    documentForm.controls['scope'].value === 'Community'){
                        <option value="HOAGuidelines">HOAGuidelines</option>
                        <option value="MeetingMinutes">MeetingMinutes</option>
                        <option value="Budget">Budget</option>
                        <option value="Newsletter">Newsletter</option>
                        <option value="Rules">Rules</option>
                        <option value="MeetingNotice">MeetingNotice</option>
                        <option value="Other">Other</option>
                    }  
                    @else if (documentForm.controls['scope'].value === 'OwnerTenure') {
                        <option value="DeedOrOwnership">DeedOrOwnership</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    }
                    @else if (documentForm.controls['scope'].value === 'PropertyHistory') {
                        <option value="DeedOrOwnership">DeedOrOwnership</option>
                        <option value="ViolationNotice">ViolationNotice</option>
                        <option value="MaintenanceRecord">MaintenanceRecord</option>
                        <option value="InspectionReport">InspectionReport</option>
                        <option value="ArchitecturalChangeRequest">ArchitecturalChangeRequest</option>
                        <option value="TenantDocument">TenantDocument</option>
                        <option value="RentalAgreement">RentalAgreement</option>
                        <option value="Miscellaneous">Miscellaneous</option>
                    }
                </select>
            </label>   -->
            <!-- <label class="floating-label text-left m-2">
                <span class="text-lg">Description</span>
                <input class="input w-3/4" formControlName="description" />
            </label> -->
            <app-text-input class="m-2" label="Description" formControlName="description" />

            <app-text-input class="m-2" label="Notes" formControlName="notes" />

            @if(uploadedFile()){ 
                    <div class="flex justify-items-stretch gap-3 mt-2 text-gray-500 dark:text-gray-400">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-base-content/40 mb-2" fill="none" 
                        viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                            d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                    </svg>
                    <span class="font-semibold text-blue-600 h-9">
                        {{uploadedFile()?.name}}
                    </span>
                </div> 
                
            }

            <app-file-upload (uploadFile)="onUploadFile($event)" [loading]="loading()" />

            

            <div class="flex items-center justify-end gap-3">
                <button class="btn" type="button" (click)="cancel()">Cancel</button>
                
                <button [disabled]="!documentForm.valid || !uploadedFile() " 
                    class="btn btn-primary" 
                    type="button"
                    (click)="createDocument()">Create</button>
            </div>
        </form>
        <!-- @if (session.currentUser()?.appRole === 'admin'){
           
        } -->
    </div>
</div>